<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--Main-->
    <bean id="main" class="extremesaving.Main">
        <property name="pdfFacade" ref="pdfFacade"/>
        <property name="chartFacade" ref="chartFacade"/>
    </bean>

    <!--Service-->
    <bean id="dataService" class="extremesaving.service.DataServiceImpl">
        <property name="dataDao" ref="dataDao"/>
        <property name="tipOfTheDayDao" ref="tipOfTheDayDao"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="calculationService" class="extremesaving.service.CalculationServiceImpl">
    </bean>
    <bean id="chartDataService" class="extremesaving.service.ChartDataServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
        <property name="accountService" ref="accountService"/>
        <property name="predictionService" ref="predictionService"/>
    </bean>

    <bean id="accountService" class="extremesaving.service.AccountServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="categoryService" class="extremesaving.service.CategoryServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="chartFacade" class="extremesaving.facade.ChartFacadeImpl">
        <property name="monthlyBarChartService" ref="monthlyBarChartService"/>
        <property name="yearlyBarChartService" ref="yearlyBarChartService"/>
        <property name="monthLineChartService" ref="monthLineChartService"/>
        <property name="goalLineChartService" ref="goalLineChartService"/>
    </bean>
    <bean id="predictionService" class="extremesaving.service.PredictionServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>

    <!--Dao-->
    <bean id="dataDao" class="extremesaving.dao.DataDaoImpl"/>
    <bean id="tipOfTheDayDao" class="extremesaving.dao.TipOfTheDayDaoImpl"/>

    <!--Pdf-->
    <bean id="pdfPageOverallService" class="extremesaving.service.pdf.PdfPageOverallService">
        <property name="dataService" ref="dataService"/>
    </bean>
    <bean id="pdfPageYearService" class="extremesaving.service.pdf.PdfPageYearService">
        <property name="dataService" ref="dataService"/>
    </bean>
    <bean id="pdfPageMonthService" class="extremesaving.service.pdf.PdfPageMonthService">
        <property name="dataService" ref="dataService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="pdfPageCategoryGridService" class="extremesaving.service.pdf.PdfPageCategoryGridService">
        <property name="dataService" ref="dataService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="pdfPageItemGridService" class="extremesaving.service.pdf.PdfPageItemGridService">
        <property name="dataService" ref="dataService"/>
    </bean>
    <bean id="pdfPagePredictionsService" class="extremesaving.service.pdf.PdfPageTipOfTheDayService">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
        <property name="predictionService" ref="predictionService"/>
        <property name="accountService" ref="accountService"/>
    </bean>
    <bean id="pdfFacade" class="extremesaving.facade.PdfFacadeImpl">
        <property name="pdfPageOverallService" ref="pdfPageOverallService"/>
        <property name="pdfPageYearService" ref="pdfPageYearService"/>
        <property name="pdfPageMonthService" ref="pdfPageMonthService"/>
        <property name="pdfPageCategoryGridService" ref="pdfPageCategoryGridService"/>
        <property name="pdfPageItemGridService" ref="pdfPageItemGridService"/>
        <property name="pdfPagePredictionsService" ref="pdfPagePredictionsService"/>
    </bean>

    <!--Chart-->
    <bean id="monthlyBarChartService" class="extremesaving.service.chart.MonthlyBarChartService">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="yearlyBarChartService" class="extremesaving.service.chart.YearlyBarChartService">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="goalLineChartService" class="extremesaving.service.chart.GoalLineChartService">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="monthLineChartService" class="extremesaving.service.chart.MonthLineChartService">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>


</beans>