<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--Main-->
    <bean id="main" class="extremesaving.Main">
        <property name="pdfService" ref="pdfService"/>
        <property name="chartService" ref="chartService"/>
    </bean>

    <!--Service-->
    <bean id="dataService" class="extremesaving.service.DataServiceImpl">
        <property name="dataDao" ref="dataDao"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="calculationService" class="extremesaving.service.CalculationServiceImpl">
    </bean>
    <bean id="chartDataService" class="extremesaving.service.ChartDataServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
        <property name="accountService" ref="accountService"/>
    </bean>

    <bean id="accountService" class="extremesaving.service.AccountServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="categoryService" class="extremesaving.service.CategoryServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
    </bean>
    <bean id="chartService" class="extremesaving.service.chart.ChartServiceImpl">
        <property name="accountPieChartGenerator" ref="accountPieChartGenerator"/>
        <property name="monthlyBarChartGenerator" ref="monthlyBarChartGenerator"/>
        <property name="yearlyBarChartGenerator" ref="yearlyBarChartGenerator"/>
        <property name="historyLineChartGenerator" ref="historyLineChartGenerator"/>
        <property name="futureLineChartGenerator" ref="futureLineChartGenerator"/>
    </bean>
    <bean id="predictionService" class="extremesaving.service.PredictionServiceImpl">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>

    <!--Dao-->
    <bean id="dataDao" class="extremesaving.dao.DataDaoImpl"/>

    <!--Pdf-->
    <bean id="pdfPageSummaryGenerator" class="extremesaving.service.pdf.PdfPageSummaryGenerator">
        <property name="accountService" ref="accountService"/>
        <property name="dataService" ref="dataService"/>
    </bean>
    <bean id="pdfPageMonthYearGenerator" class="extremesaving.service.pdf.PdfPageMonthYearGenerator"/>

    <bean id="pdfPageCategoryGridGenerator" class="extremesaving.service.pdf.PdfPageCategoryGridGenerator">
        <property name="dataService" ref="dataService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="pdfPageItemGridGenerator" class="extremesaving.service.pdf.PdfPageItemGridGenerator">
        <property name="dataService" ref="dataService"/>
    </bean>
    <bean id="pdfPagePredictionsGenerator" class="extremesaving.service.pdf.PdfPagePredictionsGenerator">
        <property name="dataService" ref="dataService"/>
        <property name="calculationService" ref="calculationService"/>
        <property name="predictionService" ref="predictionService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="pdfService" class="extremesaving.service.pdf.DefaultPdfService">
        <property name="pdfPageSummaryGenerator" ref="pdfPageSummaryGenerator"/>
        <property name="pdfPageMonthYearGenerator" ref="pdfPageMonthYearGenerator"/>
        <property name="pdfPageCategoryGridGenerator" ref="pdfPageCategoryGridGenerator"/>
        <property name="pdfPageItemGridGenerator" ref="pdfPageItemGridGenerator"/>
        <property name="pdfPagePredictionsGenerator" ref="pdfPagePredictionsGenerator"/>
    </bean>

    <!--Chart-->
    <bean id="accountPieChartGenerator" class="extremesaving.service.chart.AccountPieChartGenerator">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="monthlyBarChartGenerator" class="extremesaving.service.chart.MonthlyBarChartGenerator">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="yearlyBarChartGenerator" class="extremesaving.service.chart.YearlyBarChartGenerator">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="historyLineChartGenerator" class="extremesaving.service.chart.HistoryLineChartGenerator">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>
    <bean id="futureLineChartGenerator" class="extremesaving.service.chart.FutureLineChartGenerator">
        <property name="chartDataService" ref="chartDataService"/>
    </bean>

</beans>